.content{
  color: white;
}
h1{
  margin-bottom: 5px;
}
#no_amici{
  margin-bottom: 10px;
  padding: 20px;
  color: grey;
}
#search_bar{
  display: inline-block;
  vertical-align: top;
  width: 300px;
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 600px) {
  #search_bar{
    width: 200px;
  }
}
#search_button{
  display: inline-block;
  background-color: white;
  background-image: url("../imgs/lente.svg");
  background-size: 40px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 0 10px 10px 0;
}
#friend_button{
  background-color: #f8f8f8;
  border: none;
  border-left: 1px solid #cbcbcb;
  border-radius: 0 10px 10px 0;
  vertical-align: top;
  display: inline-block;
  width: 40px;
  height: 40px;
}
#scheda_utente{
  background-color: #f8f8f8;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  display: inline-block;
  width: 300px;
  height: 40px;
  color: black;
}
#avatar_img{
  display:inline-block;
  background-color:#292929;
  border-radius: 10px;
  width:40px;
  height:40px;
}
