.content{
  color: white;
}
h1{
  margin-bottom: 5px;
}
#no_amici{
  margin-bottom: 10px;
  padding: 20px;
  color: grey;
}
#search_bar{
  display: inline-block;
  vertical-align: top;
  width: 300px;
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 600px) {
  #search_bar{
    width: 200px;
  }
}
#search_button{
  display: inline-block;
  background-color: white;
  background-image: url("../imgs/lente.svg");
  background-size: 40px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 0 10px 10px 0;
}
#friend_button{
  background-image: url("../imgs/add.png");
  background-size: 40px;
  border: none;
  margin: 0;
  border-left: 1px solid #cbcbcb;
  border-radius: 0 10px 0 0;
  vertical-align: top;
  display: inline-block;
  float: right;
  width: 40px;
  height: 40px;
}
#friend_button:hover{
  background-color: #cbcbcb;
}
#scheda_utente{
  background-color: #f8f8f8;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  display: block;
  margin: 0 0 5px 0;
  width: 300px;
  height: auto;
  color: black;
}
#avatar_img{
  display:inline-block;
  vertical-align: bottom;
  background-color:#292929;
  width:40px;
  height:40px;
}
.risp_richiesta{
  box-sizing: border-box;
  background-color: #efefef;
  font-family: open_sans_regular;
  border-radius: 0 0 10px 10px;
  text-align: center;
  line-height: 35px;
  width: 300px;
  overflow: hidden;
  height: 0;
  transition: height 500ms;
}
