body{
  font-family: 'Vollkorn', serif;
  background-color: #3a3a3a;
  margin: 0;
}
h1{
  margin: 0;
  line-height: 20px;
}
p{
  margin: 0;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a{
  text-decoration: none;
}

/*
header
*/

.header{
  background-color: #3a3a3a;
  box-sizing: border-box;
  width: 100%;
  color: white;
  height: 60px;
  padding: 10px 8px;
}
.container{
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 10px 50px;
}
.logo{
  display: inline-block;
  height: 30px;
}
.nav_bar{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
li{
  font-family: open_sans_light, sans-serif;
  background-color: #f8f8f8;
  color: black;
  border: 1px solid #efefef;
  float: left;
  line-height: 38px;
  text-align: center;
  width: 80px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}
li:hover{
  background-color: #efefef;
}

/*
main containers
*/

.main_container{
  background-color: white;
  height: 500px;
}
