body{
    font-family: 'Vollkorn', serif;
    margin:0;
    background-color: #3c3c3c;
    overflow: hidden;
}
#main_container{
    position: absolute;
    white-space: nowrap;
    width: 300%;
    height: 100%;
    transform: translateX(-33.33%);
    transition: transform 1s;
}
.container{
    /*background-color: #3c3c3c;*/
    display: inline-block;
    height:100%;
    width: 33.3%;
    text-align: center;
    overflow: hidden;
}
h1{
    font-family: 'Vollkorn', serif;
    font-size:40px;
    margin-bottom: 0;
    color: white;
}
.login_field, .login_button{
    background-color: white;
    display: block;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: 15px;
}
input, button{
    transition: transform 200ms;
}
input:hover, button:hover{
    transform: scale(1.03);
}
a{
    color: white;
}
a:hover{
    text-decoration: underline;
}
