body {
  margin: 0;
}
.block {
  width: 100%;
  height: 700px;
}
#secondBlock {
  height: auto;
  padding-bottom: 50px;
}
#fourthBlock {
  height: auto;
  padding-bottom: 180px;
}
.header {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px 0px;
  text-align: center;
  color: white;
  background-color: red;
}
.headerTitle {
  font-family: open_sans_light,sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.login {
  padding-right: 40px;
  padding-top: 5px;
  text-decoration: none;
  font-family: open_sans_light, sans-serif;
  font-size: 16px;
  color: white;
  position: absolute;
  right: 0;
}
.firstBlockContent {
  text-align: center;
  margin-top: 160px;
  width: 100%;
  color: white;
}
.firstBlockContentFirst {
  font-size:90px;
  font-family: open_sans_bold, sans-serif;
}
.firstBlockContentSecond {
  font-size:45px;
  margin-top:-88px;
  font-family: open_sans_light, sans-serif;
}
.firstBlockRegisterButton {
  text-align: center;
}
.firstBlockRegisterButton button {
  width: 700px;
  height: 60px;
  border-radius: 10px;
  background-color: #fdfdfd;
  font-size: 40px;
  font-family: open_sans_light, sans-serif;
}
.secondBlockContent {
  text-align: center;
  width: 100%;
  padding-top: 1px;
}
.secondBlockImg {
  width: 100%;
  text-align: center;
}
.secondBlockImg img {
  width: 85%;
  height: 85%;
}
.secondBlockImg2 img {
  width: 45%;
  display: none;
}
.secondBlockContentFirst {
  font-size:40px;
  font-family: open_sans_light, sans-serif;
}
.thirdBlockContent {
  text-align: center;
  width: 100%;
  padding-top: 1px;
}
.thirdBlockContentFirst {
  font-size:40px;
  font-family: open_sans_light, sans-serif;
}
.fourthBlockContent {
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 1px;
}
.fourthBlockContentFirst {
  font-family: open_sans_light, sans-serif;
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: -10px;
}
.fourthBlockContentSecond {
  font-family: open_sans_light, sans-serif;
  font-size: 20px;
}
.fourthBlockImg {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.fourthBlockImg img {
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
}

#trattoImageLeft {
  height: 120px;
}
#trattoImageRight {
  height: 120px;
}
@media screen and (max-width: 1120px) {
  #quartacopertina {
    display: none;
  }
  #userImage {
    width: 16%;
  }
  #bookImage {
    width: 14%;
  }
  #trattoImageLeft {
    width: 4.2%;
  }
  #trattoImageRight {
    width: 4.2%;
  }

}
/*monitor piccolo*/
@media screen and (max-width: 860px) {
  #firstBlock {
    height: 630px;
  }
  #terzacopertina {
    display: none;
  }
  .firstBlockRegisterButton button {
    width: 500px;
    border-radius: 10px;
    background-color: #fdfdfd;
    font-size: 40px;
    font-family: open_sans_light, sans-serif;
  }
  .firstBlockContentFirst {
    font-size:70px;
    font-family: open_sans_bold, sans-serif;
  }
  .firstBlockContentSecond {
    font-size:45px;
    margin-top:-75px;
    font-family: open_sans_light, sans-serif;
  }
  .firstBlockContent{
    margin-top: 147px;
  }
  }

/*tablet*/
@media screen and (max-width: 650px) {
  #userImage {
    vertical-align: text-top;
  }
  #trattoImageLeft {
    vertical-align: middle;
    transform: rotate(325deg);
  }
  #trattoImageRight {
    vertical-align: middle;
    transform: rotate(32deg);
  }
  .fourthBlockContentFirst {
    font-size: 27px;
}
  .fourthBlockContentSecond {
    font-size: 17px;
  }
  #firstBlock{
    height: 600px;
  }
  #quartacopertina {
    display: inline;
  }
  #primacopertina {
    display: none;
  }
  .secondBlockImg img {
    display: none;
  }
  .secondBlockImg2 {
    width: 100%;
    text-align: center;
  }
  .secondBlockImg2 img {
    display: inline-block;
    margin-top: -40px;
  }
  .secondBlockContentFirst{
    margin-top: 40px;
    font-size: 30px;
  }

  .secondBlockImg img {
    width: 90%;
    height: 90%;
    margin-top: -40px;
  }
  .secondBlockImg {
    margin-top: 80px;
  }
  .firstBlockRegisterButton button {
    width: 300px;
    border-radius: 10px;
    background-color: #fdfdfd;
    font-size: 27px;
    font-family: open_sans_light, sans-serif;
  }
  .firstBlockContentFirst {
    font-size:40px;
    font-family: open_sans_bold, sans-serif;
  }
  .firstBlockContentSecond {
    font-size:29px;
    margin-top:-35px;
    font-family: open_sans_light, sans-serif;
  }
  .headerTitle {
    float: left;
    margin-left: 10px;
    padding-left: 15px;
  }
  .login {
    display: block;
    padding-right: 15px;
    margin-right: 10px;
  }
}

/*smartphone*/
  @media screen and (max-width: 390px) {
    .fourthBlockContentFirst {
    font-size: 20px;
}
    .fourthBlockContentSecond {
    font-size: 15px;
}
    .secondBlockContentFirst{
      font-size: 24px;
    }
    .thirdBlockContentFirst {
    font-size: 30px;
}
    .firstBlockRegisterButton button {
      width: 180px;
      height: 50px;
      border-radius: 10px;
      background-color: #fdfdfd;
      font-size: 22px;
      font-family: open_sans_light, sans-serif;
    }
    .firstBlockContent{
      margin-top: 160px;
    }
    .firstBlockContentFirst {
      font-size:32px;
      font-family: open_sans_bold, sans-serif;
    }
    .firstBlockContentSecond {
      font-size:25px;
      margin-top:-31px;
      font-family: open_sans_light, sans-serif;
    }
  }
