.content{
  color: white;
  padding: 0 0 0 0;
  box-sizing: border-box;
}
.scatola_account p{
  color: black;
}
.scatola_contatti{
  box-sizing: border-box;
  background-color: inherit;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: 100%;
  padding: 100px 10px;
}
.contatti{
  cursor: pointer;
}
.contatti img{
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.contatti p{
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  margin: 0;
}
.scatola_chat{
  font-family: open_sans_regular;
  box-sizing: border-box;
  background-color: #3a3a3a;
  background-image: url("/imgs/donnina.svg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 85%;
  height: 100%;
}
.scatola_chat h1{
  background-color: #f8f8f8;
  color: black;
  padding: 30px;
}
#scatola_messaggi{
  background-color: transparent;
  box-sizing: border-box;
  overflow: auto;
  padding: 20px 10px;
  width: 100%;
  height: 400px;
}
.messaggio{
  display: block;
  margin: 0 10px 10px 0;
  width: 100%;
  min-height: 35px;
}
.messaggio div{
  background-color: rgba(248, 248, 248, 1);
  padding: 7px 10px 3px 10px;
  max-width: 400px;
  border-radius: 5px;
  vertical-align: top;
  color: black;
  text-align: left;
  display: inline-block;
}
.messaggio p{
  margin:0;
}
.messaggio i{
  display: block;
  font-size: 9pt;
  text-align: right;
  vertical-align: top;
  margin-top: -15px;
}
.scatola_chat footer{
  box-sizing: border-box;
  background-color: #f8f8f8;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #3a3a3a;
  padding: 20px;
}
.scatola_chat footer textarea{
  display: inline-block;
  vertical-align: top;
  resize: none;
  min-width: inherit;
  width: 77%;
  height: 75px;
  padding: 13px;
}
.scatola_chat footer button{
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 75px;
  padding: 10px;
  cursor: pointer;
}
.scatola_chat footer button:hover{
  background-color: #cbcbcb;
}
