@font-face {
    src: url(OpenSans-Light.ttf);
    font-family: open_sans_light;
}
@font-face {
    src: url(OpenSans-Regular.ttf);
    font-family: open_sans_regular;
}
@font-face {
    src: url(OpenSans-SemiBold.ttf);
    font-family: open_sans_semibold;
}
@font-face {
    src: url(OpenSans-Bold.ttf);
    font-family: open_sans_bold;
}
@font-face {
    src: url(/aileron/Aileron-Light.otf);
    font-family: aileron_light;
}
@font-face {
    src: url(/aileron/Aileron-Bold.otf);
    font-family: aileron_bold;
}
@font-face {
    src: url(/aileron/Aileron-UltraLight.otf);
    font-family: aileron_ultra_light;
}
@font-face {
    src: url(/aileron/Aileron-Black.otf);
    font-family: aileron_black;
}