body{
    margin: 0;
    font-family: 'Vollkorn', serif;
    background-color: #36a9e1;
}
/*
|--------------------------------------------------------------|
|                                                              |
|  Primo contenitore                                           |
|                                                              |
|--------------------------------------------------------------|
*/
.primo_contenitore{
    display: inline-block;
    position: absolute;
    bottom:100%;
    width: 100%;
    height: 100%;
    background-image: url("/imgs/sfondo.jpg");
    background-size: cover;
    font-family: open_sans_bold, sans-serif;
}
.primo_contenitore > div{
    display: block;
    position: absolute;
    top:50%;
    left:20%;
    width: 60%;
    height: 211px;
    transform: translateY(-50%);
}
.primo_contenitore > div > div{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.primo_contenitore div h1{
    line-height: 30px;
    color: white;
    font-family: aileron_bold, sans-serif;
    font-size: 30px;
    margin: 0 0 10px 0;
}
.primo_contenitore div a{
    transition: opacity 500ms;
    letter-spacing: 0.5px;
    font-family: aileron_ultra_light, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    color: white;
    display: block;
}
.primo_contenitore div a:hover{
    opacity: 0.5;
}
.primo_contenitore .ragazza{
    position: absolute;
    top:0;
    right: 0;
    width: 200px;
}
.primo_contenitore .ombra{
    position: absolute;
    top:100px;
    right: 0;
    width: 200px;
}
/*
|--------------------------------------------------------------|
|                                                              |
|  Secondo contenitore                                         |
|                                                              |
|--------------------------------------------------------------|
*/
.secondo_contenitore{
    position: relative;
    width: 100%;
    padding: 100px 20px;
    background: #36a9e1 url("/imgs/sfondo2.jpg");
}
.center_me{
    position: absolute;
    top:50%;
    left: auto;
    transform: translateY(-50%);
}
.secondo_contenitore img{
    height: 350px;
}
.secondo_contenitore .center_me{
    color: white;
    font-size: 25px;
    font-weight: 300;
    left: 400px;
}