body, html {
  text-align: center;
  overflow: auto;
  height: 100%;
}
input{
      background-color: white;
      border: 1px solid #cbcbcb;
      height: 40px;
      width: 300px;
      border-radius: 10px;
      outline: none;
      margin-bottom: 5px;
      font-family: 'Vollkorn', serif;
      font-size: 15px;
      padding-left: 10px;
      margin-bottom: 25px;
}
h1 {
  color: black;
}
span {
  color: black;
  float: left;
  padding-left: 48px;
}
p {
  color: black;
  margin-top: auto;
  float: left;
  padding-left: 48px;
}

.libreria {
  display: inline-block;
  float:right;
  background-color:	#F5F5F5;
  width: 400px;
}
.form {
  margin: inherit;
  margin-top: 40px;
}
.tasto {
  width: 300px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.tasto:hover {
  transition: transform 200ms;
  transform: scale(1.01);
}
#counter {
  padding-left: 0px;
  margin-left: 5px;
}
