#menu_info2 .barrabottoni{

}

.immagine_pillola_libro {
    display: inline-block;
    height: 100px;
    width: 20px;
}
.pillola_libro {
    white-space: normal;
    height: 100px;
}
.testo_pillola_libro {
    max-width: 500px;
    height: 100px;
    overflow-x: auto;
}

/*
|--------------------------------------------------------------|
|                                                              |
|  Color picker                                                |
|                                                              |
|--------------------------------------------------------------|
*/

.box_colorpicker{
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}
.box_colorpicker img{

    vertical-align: middle;
    width: 100%;
    height: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.box_colorpicker div{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 20px;
    border-radius: 10px;
    border: 3px solid #f8f8f8;
    top:0;
    left: 30px;
    box-sizing: border-box;
}

/*
|--------------------------------------------------------------|
|                                                              |
|  Scaffali                                                    |
|                                                              |
|--------------------------------------------------------------|
*/

.primo_scaffale{
    /*border: 15px solid #d8d8d8;*/
    border: 1px solid #cbcbcb;
    background-color: white;
    border-radius: 10px 10px 0 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    position: relative;
}
.scaffale{
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    transition: height 200ms, background-color 500ms;
    background-color: white;
}
.menu_scaffale{
    border: 1px solid #cbcbcb;
    background-color: white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 20px;
}
.menu_scaffale div{
    display: inline-block;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}
.menu_scaffale div:hover{
    background-color: #f8f8f8;
}
.menu_scaffale img{
    height: 100%;
}
.primo_scaffale img{
    position: absolute;
    bottom: 0;
    left: 10px;
    height: 65px;
}
input[name=n_scaffali]{
    width: 50px;
    box-sizing: border-box;
    height: 25px;
}

/*
|--------------------------------------------------------------|
|                                                              |
|  Menu info                                                   |
|                                                              |
|--------------------------------------------------------------|
*/

#menu_info .info_barrabottoni{
    float: none;
    display: inline-block;
}
.to_show{
    display: none;
}
p.testo_scatola_info{
    margin: 0 0 20px 0;
}
.scaffale_titolo{
    font-weight: 600;
}
.scaffale_info_menu {
    border-bottom: 1px solid #cbcbcb;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 20px;
}
.scaffale_info_menu div {
    vertical-align: middle;
    height: 150px;
    width: 100px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/*
Scrollbar
*/

::-webkit-scrollbar {
    width: 0;
    height:3px;
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    border-radius: 10%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}

/*
|--------------------------------------------------------------|
|                                                              |
|  Menu volante ordina                                         |
|                                                              |
|--------------------------------------------------------------|
*/

#menu_volante_ordina{
    left:100px;
}
