#counter{
  background-color: transparent;
  text-align: center;
  border: none;
  height: 20px;
  width: 40px;
  outline: none;
  margin-bottom: 0px;
  font-family: open_sans_regular, sans-serif;
  font-size: 16px;
  padding-left: 0px;
}
#counter:hover{
  transform: scale(1);
}
.select_box{
  margin-bottom: 5px;
  display: inline-block;
}
.select_box_text{
  display: inline-block;
  padding: 8px;
  border-radius: 20px;
}
.single_button{
  box-sizing: border-box;
  height: 50px;
  width: 150px;
}
.book_container {
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    background-color: white;
    height: 170px;
    margin: 0 10px 10px 0;
    transition: transform 500ms, width 500ms, height 500ms;
    white-space: nowrap;
}
.tasto {
  width: 300px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.tasto:hover {
  transition: transform 200ms;
  transform: scale(1.01);
}
p{
  margin-top: 8px;
}

.colorContainer {
  border: 1px solid #cbcbcb;
  background-color: white;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  height: 360px;
  max-height: 20px;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
  cursor:pointer;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}
.colore {
  width: 100%;
  height: 35px;
  border-radius: 100px;
  transition: transform 300ms;
  cursor: pointer;
  margin-bottom: 10px;
}
.colore:hover {
  transform: scale(1.05, 1.05);
}
#rosso {
  background-color: red;
}
#verde {
  background-color: MediumSeaGreen;
 }
#viola {
  background-color: purple;
}
#blu {
  background-color: DodgerBlue;
}
#arancio {
  background-color: Orange;
}
#rosa {
  background-color: Violet;
}
#verdeacqua {
  background-color: #20B2AA;
}
.confirmButton {
  width: 100%;
  border: 1px solid #cbcbcb;
  height: 40px;
  border-radius: 10px;
}
.confirm {
  padding-top: 10px;
}
#pickerTitle {
  cursor: pointer;
  padding-left: 0px;
  text-align: center;
  border: 0px;
}
#pickerAnimation {
    display: none;
    height: auto;
    border: 1px solid #cbcbcb;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
    padding: 10px 40px 10px 40px;
    text-align: center;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
}
#check {
  padding-left: 85%;
  display: none;
}
.tasto {
    height: 35px;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #cbcbcb;
}
#sinistro {
  margin-top: 10px;
}

.tasti {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.containerScaffali {
  width: 100%;
  text-align: left;
  margin-top: 30px;
}
.scaffale {
  width: 100%;
  border-radius: 10px
}
.etichettalib {
  height: 100%;
  background-color: green;
  width: 15px;
  display: inline-block;
}

.library_img {
  display: inline-block;
  margin: 0px 15px 0px 15px;
}
.library_text {
  display: inline-block;
  width: auto;
  height: 100%;
  vertical-align: middle;
  padding: 20px 20px;
}
.library_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.libscaffale_menu {
  border-bottom: 1px solid #cbcbcb;
  margin-top: 22px;
  overflow-x: scroll;
  white-space: nowrap;
}
.libriscaffali {
  width: 120px;
  height: 172px;
  margin-right: 60px;
  border-radius: 5px;
  box-shadow: 0 15px 15px -5px #333;
  vertical-align: bottom;
  margin-bottom: 3px;
  z-index: 5;
}
.boxlibro_menu {
  margin-top: 15px;
  display: inline-block;
}
.cercaLib {
  background-color: white;
  border-bottom: 1px solid #cbcbcb;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10px;
  height: 32px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
}

.cercaInput{
  display: inline-flex;
  width: 100%;
}
.cercaImg {
  background-color: #3a3a3a;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 31px;
  border-bottom: 1px solid #cbcbcb;
  cursor: pointer;
}
h5 {
  margin-bottom: -25px;
    margin-top: 15px;
}

/*
* Scrollbar
* modificato
*/
::-webkit-scrollbar {
    width: 2px;
    height:2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f8f8f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f8f8f8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#f8f8f8;
}
/*
* Scrollbar
* modificato
*/
