body{
    background-color: #f8f8f8;
    color: #3a3a3a;
    margin: 0;
    overflow: scroll;
}
h1{
    margin-top: 0;
    line-height: 35px;
}
h2{
    margin: 0;
}
input, select{
    background-color: white;
    border: 1px solid #cbcbcb;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 5px;
    font-family: 'Vollkorn', serif;
    font-size: 15px;
    padding-left: 10px;
}
select{
    box-sizing: border-box;
    margin: 0;
}
.select_box{
    margin-bottom: 5px;
    display: inline-block;
}
.select_box_text{
    display: inline-block;
    padding: 8px;
    border-radius: 20px;
}
.aside{
    position: fixed;
    height: 100%;
    width: 400px;
    top:0;
    display: inline-block;
    border: 1px solid #efefef;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    transition: transform 300ms;
}
.menu_button{
    margin: 0;
    height: 50px;
    width: 50px;
    border-right: 1px solid #efefef;
}
.menu_input{
    height: 50px;
    background-color: transparent;
    border: 1px solid #efefef;
    vertical-align: top;
    border-radius: 0;
    width: 0;
    margin: 0;
    padding: 0;
    transition: width 500ms;
    box-sizing: border-box;
}
.menu_input:hover{
    transform: scale(1);
}
.single_button{
    box-sizing: border-box;
    height: 50px;
    width: 150px;
}
.hover_button{
    height: 50px;
    display: inline-block;
}
.hover_button:hover{
    background-color: #efefef;
}
.book_container{
    display: inline-block;
    background-color: white;
    height: 100px;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    overflow: hidden;
}
.main_container{
    transform: translateX(-300px);
    transition: transform 300ms;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    white-space: nowrap;
}
.menu_aside{
    display: inline-block;
    height: 100%;
    width: 300px;
    transition: transform 500ms;
}
.content{
    position: relative;
    vertical-align: top;
    background-color: #3a3a3a;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 100px 0 0 50px;
    box-sizing: border-box;


    -webkit-box-shadow: inset 10px 0 35px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 0 35px -16px rgba(0,0,0,0.75);
    box-shadow: inset 10px 0 35px -16px rgba(0,0,0,0.75);
}